{% extends 'inc/base.html' %}
{% block 'authroization' %}
{% include 'inc/authroization_on_bar.html' %}
{% endblock 'authroization' %}
{% block main %}
<div class="container">
  <h2 class="mb-4">Тег: C++</h2>

  <div class="row mb-4">
    <div class="col-2">
      <div class="avatar"></div>
      <div class="d-flex align-items-center mt-2">
        <i class="bi bi-award me-2" style="font-size: 2rem;"></i>
      </div>
    </div>
    <div class="col-10">
      <a href="#" class="question-title">Название первого</a>
      <p class="question-body mb-0">яхочуспатьяхочуспатьяхочуспатьяхочуспатьяхочуспатьяхочуспать</p>
      <div class="d-flex justify-content-between align-items-center">
        <a href="#" class="answer-link">Ответы (3)</a>
        <div>
          <span class="text-muted me-2">Теги:</span>
          <a href="#" class="badge bg-secondary">C++</a>
          <a href="#" class="badge bg-secondary">C</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-2">
      <img class="avatar "src="{% static 'img/img_avatar.png' %}"  >
      <div class="d-flex align-items-center mt-2">
        <i class="bi bi-award me-2" style="font-size: 2rem;"></i>
      </div>
    </div>
    <div class="col-10">
      <a href="#" class="question-title">Название второго</a>
      <p class="question-body mb-0">яхочуспатьяхочуспатьяхочуспатьяхочуспатьяхочуспатьяхочуспатьяхочуспатьяхочу</br>спатьяхочуспатьяхочуспатьяхочуспатьяхочуспатьяхочуспатьяхочуспатьяхочуспа</br>тьяхочуспатьяхочуспатьяхочуспатьяхочуспатьяхочуспатьяхочуспать</br>яхочуспатьяхочуспатьяхочуспать</p>
      <div class="d-flex justify-content-between align-items-center">
        <a href="#" class="answer-link">Ответы (13)</a>
        <div>
          <span class="text-muted me-2">Теги:</span>
          <a href="#" class="badge bg-secondary">C</a>
          <a href="#" class="badge bg-secondary">Python</a>
          <a href="#" class="badge bg-secondary">Java</a>
          <a href="#" class="badge bg-secondary">C++</a>
        </div>
      </div>
    </div>
  </div>
    {% include 'inc/paginator.html' with the_url="tag"%}
</div>
{% endblock main %}
